.blog {
  display: flex;
  position: absolute;
  top: 63px;
  height: calc("100% - 163px");
  overflow-y: auto;
  flex-direction: column;
  width: 100%;

  &-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
}
