.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;

  &-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-quicklinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: @info;

    & > h2 {
      margin-top: 25px;
      color: @white;
    }

    &__group {
      display: flex;
      align-items: center;
      background-color: transparent;
      & > a {
        margin-right: 10px;
        padding: 10px;
      }
    }
  }
}

@media screen and (min-width: 1025px), print {
  .home {
    flex-direction: row;
    z-index: 1;

    &-card {
      &:hover {
        cursor: pointer;
        z-index: 101;
        transform: scale(1.25, 1.25);
      }
    }
  }
}
