@lblue: #00a5fb;
@lgreen: #00d1b2;

@card-shadow: fade(@black, 10%);
@hover-shadow: fade(@lgreen, 30%);

.card {
  background-color: @white;
  box-shadow: 0 2px 3px @card-shadow, 0 0 0 1px @card-shadow;
  color: @text;
  max-width: 100%;
  position: relative;
  .media:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.home-card {
  cursor: pointer;
  text-decoration: none;
  width: 80%;
  height: 350px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: 1em;
  &:hover {
    box-shadow: 0 5px 15px @hover-shadow, 0 0 0 1px @card-shadow;
    z-index: 1;
    transform: scale(1.25, 1.25);
  }
}

.card-header {
  align-items: stretch;
  box-shadow: 0 1px 2px @card-shadow;
  display: flex;
}

.card-header-title {
  align-items: center;
  color: @text-strong;
  display: flex;
  flex-grow: 1;
  font-weight: @weight-bold;
  padding: 0.75rem;
}

.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}

.card-image {
  display: block;
  position: relative;
}

.card-content {
  padding: 1.5rem;
  & .content {
    color: #4a4a4a;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
}

.card-footer {
  border-top: 1px solid @border;
  align-items: stretch;
  display: flex;
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
  &:not(:last-child) {
    border-right: 1px solid @border;
  }
}

@media screen and (min-width: 769px), print {
  .card {
    width: 300px;
    margin: 25px;
    max-width: 100%;
    overflow: hidden;
  }
}
